:root {
  --background-light: #e5e5e5;
  --background-dark: hsl(235, 10%, 21%);
  --background-button: #f5f4fa;
  --active: #2196f3;
  --font-color-main: hsla(0, 0%, 13%, 1);
  --font-color-second: #757575;
  --font-color-light: #ffffff;
  --font-color-light-opacity: rgba(255, 255, 255, 0.6);
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
}

body {
  background-color: var(--background-light);
  font-family: var(--main-font);
  color: var(--font-color-main);
  text-decoration: none;
}

.top,
.footer {
  background-color: var(--background-dark);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo-color {
  color: var(--active);
}

/* header */
.nav,
.header > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header > a {
  color: var(--font-color-second);
}

.logo {
  text-decoration: none;
  font-family: var(--second-font);
  color: var(--font-color-main);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.nav-link {
  color: var(--font-color-main);
}

.active-link,
.link:hover,
.link:focus {
  color: var(--active);
}

/* footer */
.footer > .logo {
  color: var(--font-color-light);
}

.address,
.address a {
  color: var(--font-color-light-opacity);
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.03em;
}
.address,
.list + li {
  color: var(--font-color-light);
}

/* main */
.advantages p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--font-color-second);
}

.title-one {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--font-color-light);
}

.title-two {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-four {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.button-order {
  width: 200px;
  height: 50px;
  background-color: var(--active);
  color: var(--font-color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.team-card {
  width: 270px;
  height: 368px;
  text-align: center;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
}

.job {
  color: var(--font-color-second);
}

.button {
  border: none;
  border-radius: 4px;
  background-color: var(--background-button);
  width: 93px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--active);
  color: var(--font-color-light);
}
.button:active {
  background-color: var(--active);
  color: var(--font-color-light);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--font-color-second);
}
